doctype html
html(lang='en')
  head
    title Frontend Mentor | QR code component
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', type='text/css', href='assets/scss/main.scss')
  body
    main
      include includes/qr.pug

  footer.footer
    include includes/credits.pug
