@use '../abstracts/variables';
@use '../abstracts/functions';

@mixin font($size, $weight, $line-height, $letter-spacing, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

@mixin font-title {
  @include font(
    #{var(--font-title-size)},
    #{var(--font-title-weight)},
    #{var(--font-title-line-height)},
    #{var(--font-title-letter-space)},
    #{var(--font-title-color)}
  );
}

@mixin font-body {
  @include font(
    #{var(--font-body-size)},
    #{var(--font-body-weight)},
    #{var(--font-body-line-height)},
    #{var(--font-body-letter-space)},
    #{var(--font-body-color)}
  );
}

// Define mixin for centering content flexbox
@mixin center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}
