@use '../abstracts/functions';

:root {
  --container-margin: 0.5vh;
  --container-max-width: #{functions.pxToRem(320px)};

  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-500: 2.5rem;

  --font-family: Outfit, sans-serif;

  --base-font-size: 16px;

  --font-title-size: #{functions.pxToRem(22px)};
  --font-title-weight: 700;
  --font-title-line-height: 1.2;
  --font-title-letter-spacing: 0;

  --font-body-size: #{functions.pxToRem(15px)};
  --font-body-weight: 400;
  --font-body-line-height: 1.4;
  --font-body-letter-spacing: #{functions.pxToEm(0.2px)};
}
