@use 'functions';

$color-slate-900: #1f314f;
$color-slate-500: #68778d;
$color-slate-300: #d5e1ef;
$color-white: #ffff;

:root {
  --container-max-width: #{functions.px-to-rem(320px)};
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-500: 2.5rem;
  --font-family: outfit, sans-serif;

  // colors
  --primary: #{$color-slate-900};
  --accent: #{$color-slate-500};
  --background: #{$color-white};
  --page-background: #{$color-slate-300};

  // typography
  --title-font-size: #{functions.px-to-rem(22px)};
  --title-weight: 700;
  --title-line-height: 1.2;
  --title-letter-spacing: 0;
  --body-font-size: #{functions.px-to-rem(15px)};
  --body-weight: 400;
  --body-line-height: 1.4;
  --body-letter-spacing: #{functions.px-to-em(0.2px)};
}
