// Import math functions from Sass library (assuming you have it installed)
@use 'sass:math';

// Import font from Google Fonts
@font-face {
  font-family: Outfit;
  font-display: swap;
  src: url('../fonts/Outfit/Outfit-VariableFont_wght.ttf');
}

// Define variables
$color-primary: #1f314f;
$color-secondary: #68778d;
$color-bg: #d5e1ef;

$space-200: 1rem;
$space-300: 1.5rem;
$space-500: 2.5rem;

$font-family: Outfit, sans-serif;
$base-font-size: 16; //in px

// Define functions for converting pixel values to em and rem units

@function pxToRel($value, $unit: '') {
  $relValue: math.div($value, $base-font-size) + $unit;
  @if $unit == '' {
    $relValue: math.div($value, $base-font-size);
  }
  @return $relValue;
}

@function pxToEm($value) {
  @return pxToRel($value, em);
}

@function pxToRem($value) {
  @return pxToRel($value, rem);
}

// Define mixin for setting font properties
@mixin font($size, $weight, $line-height, $letter-spacing) {
  font-size: pxToEm($size);
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: pxToEm($letter-spacing);
}

// Define mixin for centering content flexbox
@mixin center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

%font-title {
  @include font(22, 700, 1.2, 0);
}

%font-body {
  @include font(15, 400, 1.4, 0.2);
}
