@import 'base';

.qr {
  inline-size: 100%;
  max-width: 320px;
  padding: $space-200 $space-200 $space-500 $space-200;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 15px 10px 2px rgba(0, 0, 0, 0.1);
}

.qr__art--img {
  inline-size: 100%;
  border-radius: 10px;
}

.qr__body {
  // margin-inline: $space-200;
}

.qr__body--title {
  margin-block: $space-300 $space-200;
  @extend %font-title;
  color: $color-primary;
}

.qr__body--description {
  @extend %font-body;
  color: $color-secondary;
  margin-inline: $space-200;
}

// footer
.footer {
  margin-top: $space-m-10;
}

.attribution {
  text-align: center;
}

.attribution__content {
  display: flex;
  flex-direction: column;
}

.attribution__content--fm,
.attribution__content--ortiz {
  color: $color-primary;
}
