.qr {
  margin: 0.15rem;
  max-width: pxToRem(320);
  padding: $space-200;
  padding-block-end: $space-500;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 15px 10px 2px rgba(0, 0, 0, 0.1);
}

.qr__img {
  border-radius: 10px;
}

.qr__body {
  margin-inline: clamp(
    0rem,
    calc(0rem + (1 - 0) * ((100vw - pxToRem(320)) / (pxToRel(321) - 20))),
    1rem
  );
}

.qr__body--title {
  margin-block: $space-300 $space-200;
  @extend %font-title;
  color: $color-primary;
}

.qr__body--description {
  margin: $space-200 0;

  @extend %font-body;
  color: $color-secondary;
}

// footer
.footer {
  margin-top: $space-200;
}

.attribution {
  text-align: center;
}

.attribution__content {
  display: flex;
  flex-direction: column;
}

.attribution__content--fm,
.attribution__content--ortiz {
  color: $color-primary;
}
