@use '../abstracts/variables';
@use '../abstracts/functions';
@use '../abstracts/mixins';

@use '../base/typography';

.qr {
  max-width: functions.pxToRem(320px);
  padding: #{var(--space-200)};
  padding-block-end: #{var(--space-500)};
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 15px 10px 2px rgba(0, 0, 0, 0.1);
}

.qr__img {
  border-radius: 10px;
}

.qr__body {
  margin-inline: clamp(
    0rem,
    calc(
      0rem + (1 - 0) *
        (
          (100vw - functions.pxToRem(320px)) /
            (functions.pxToRel(321px) - functions.pxToRel(320px))
        )
    ),
    #{var(--space-200)}
  );
}

.qr__body--title {
  margin-block: #{var(--space-300)} #{var(--space-200)};
  @include mixins.font-title;
}

.qr__body--description {
  margin: #{var(--space-200)} 0;

  @include mixins.font-body;
}
