section.attribution
    p.attribution__content 
        span Challenge by 
            a(href="https://www.frontendmentor.io?ref=challenge" class="attribution__content--fm" target="_blank") Frontend Mentor. 
        span Coded by 
            a(href="https://ortiz.studio" class="attribution__content--ortiz") Antonio Ortiz
