section.qr
  h1.visually-hidden QR Card Component
  img.qr__img(src='assets/images/image-qr-code.png', alt='QR code')
  .qr__body
    h2.qr__body--title Improve your front-end skills by building projects
    p.qr__body--description Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
