section.qr
  figure.qr__art
    img.qr__art--img(
      src='assets/images/image-qr-code.png',
      alt='QR code image'
    )
  .qr__header
    h1.qr__header--title Improve your front-end skills by building projects
    p.qr__header--description Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
