@use '../../scss/theme/theme';
@use '../../scss/theme/typography';

.qr {
  max-width: #{var(--container-max-width)};
  padding: #{var(--space-200)};
  padding-block-end: #{var(--space-500)};
  text-align: center;
  background-color: #{theme.color('background')};
  border-radius: 20px;
  box-shadow: 5px 15px 10px 2px rgba(0, 0, 0, 0.1);
}

.qr__img {
  border-radius: 10px;
}

.qr__body {
  margin-inline: clamp(
    0rem,
    calc(0rem + (1 - 0) * ((100vw - #{var(--container-max-width)}) / (0.01))),
    #{var(--space-200)}
  );
}

.qr__body--title {
  margin-block: #{var(--space-300)} #{var(--space-200)};
  @include typography.size('title');
  color: theme.color('primary');
}

.qr__body--description {
  margin: #{var(--space-200)} 0;
  @include typography.size('body');
  color: theme.color('accent');
}
